<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= nomeAluno > </h1>
    <p>Data de nascimento: <%=dataNascimento> </p>
    <p>Endereço: <%=rua>, <%=numero> - <%=cidade>, <%=uf></p>
    <p>Complemento: <%=complemento> </p>
    <p>Telefone: <%= telefone ></p>
    <p>Telefone de recado: <%= telefoneRecado ></p>
    <p>Email: <%= email > </p>
    <br>
    <h3>OBJETIVOS</h3>
    <p> <%= objetivo1 > </p>
    <p> <%= objetivo2 > </p>
    <p> <%= objetivo3 > </p>
    <br>
    <h3>CARACTERÍSTICAS DO PERFIL</h3>
    <p> <%= caracteristica1 > </p>
    <p> <%= caracteristica2 > </p>
    <p> <%= caracteristica3 > </p>
    <br>
    <h3>ESCOLARIDADE</h3>
    

</body>
</html>