<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

        body{
            font-family: "Inter", sans-serif;

        }
        p{
            margin: 5px;
            line-height: 15px;
        }
        h1{
            margin: 0;
        }
        h3{
            font-weight: 800;
            margin-top: 10px;
            letter-spacing: 1px;
        }

    </style>
</head>
<body>
    <h1> <%= nomeAluno %> </h1>
    <p>Data de nascimento: <%= dataNascimento %> </p>
    <p>Endereço: <%= rua %>, <%= numero %> - <%= cidade %>, <%= uf %></p>
    <p>Complemento: <%= complemento %> </p>
    <p>Telefone: <%= telefone %> </p>
    <p>Telefone de recado: <%= telefoneRecado %> </p>
    <p>Email: <%= email %> </p>
    <br>

    <h3>OBJETIVOS</h3>
    <% if (objetivos.length > 0) { %>
        <% objetivos.forEach(objetivo => { %>
            <p> <%= objetivo %> </p>
        <% }) %>
    <% } else { %>
        <p>Sem informações</p>
    <% } %>
    <br>

    <h3>CARACTERÍSTICAS DO PERFIL</h3>
    <% if (caracteristicas.length > 0) { %>
        <% caracteristicas.forEach(caracteristica => { %>
            <p> <%= caracteristica %> </p>
        <% }) %>
    <% } else { %>
        <p>Sem informações</p>
    <% } %>
    <br>

    <h3>ESCOLARIDADE</h3>
    <% if (escolaridade.length > 0) { %>
        <% escolaridade.forEach(escola => { %>
            <p> <%= escola %> </p>
        <% }) %>
    <% } else { %>
        <p>Sem informações</p>
    <% } %>
    <br>

    <h3>EXPERIÊNCIA PROFISSIONAL</h3>
    <% if (experienciaProfissional.length > 0) { %>
        <% experienciaProfissional.forEach(experiencia => { %>
            <p> <%= experiencia %> </p>
        <% }) %>
    <% } else { %>
        <p>Sem informações</p>
    <% } %>
    <br>

    <h3>FORMAÇÃO COMPLEMENTAR</h3>
    <% if (formacaoComplementar.length > 0) { %>
        <% formacaoComplementar.forEach(formacao => { %>
            <p> <%= formacao %> </p>
        <% }) %>
    <% } else { %>
        <p>Sem informações</p>
    <% } %>
    <br>

    <h3>TRABALHO VOLUNTÁRIO</h3>
    <% if (trabalhoVoluntario.length > 0) { %>
        <% trabalhoVoluntario.forEach(trabalho => { %>
            <p> <%= trabalho %> </p>
        <% }) %>
    <% } else { %>
        <p>Sem informações</p>
    <% } %>
    <br>

    <h3>IDIOMAS</h3>
    <% if (idiomas.length > 0) { %>
        <% idiomas.forEach(idioma => { %>
            <p> <%= idioma %> </p>
        <% }) %>
    <% } else { %>
        <p>Sem informações</p>
    <% } %>
    <br>
</body>
</html>
