<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículo de <%= nomeAluno %></title>
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

        body {
            font-family: "Inter", sans-serif;
            line-height: 1.6;
        }
        
        p {
            margin-top: 10px;
            font-size: 14px;
        }

        h1 {
            margin: 0;
            font-size: 24px;
        }

        h3 {
            font-weight: 800;
            margin-top: 10px;
            letter-spacing: 1px;
            font-size: 16px;
        }

        .no-break {
            page-break-inside: avoid;
        }
    </style>
</head>
<body>
    <h1> <%= nomeAluno %> </h1>
    <p>Data de nascimento: <%= dataNascimento %> </p>
    <p>Endereço: <%= rua %>, <%= numero %> - <%= cidade %>, <%= uf %></p>
    <% if (complemento) { %>
        <p>Complemento: <%= complemento %> </p>
    <% } %>
    <p>Telefone: <%= telefone %> </p>
    <% if (telefoneRecado) { %>
        <p>Telefone de recado: <%= telefoneRecado %> </p>
    <% } %>
    <p>Email: <%= email %> </p>
    <br>

    <div class="no-break">
        <h3>OBJETIVOS</h3>
        <% if (typeof objetivos === 'string') { %>
            <p> <%= objetivos %> </p>
        <% } else if (Array.isArray(objetivos) && objetivos.length > 0) { %>
            <% objetivos.forEach(objetivo => { %>
                <p> <%= objetivo %> </p>
            <% }) %>
        <% } else { %>
            <p>Sem informações</p>
        <% } %>
    </div>
    <br>

    <div class="no-break">
        <h3>CARACTERÍSTICAS DO PERFIL</h3>
        <% if (typeof caracteristicas === 'string') { %>
            <p> <%= caracteristicas %> </p>
        <% } else if (Array.isArray(caracteristicas) && caracteristicas.length > 0) { %>
            <% caracteristicas.forEach(caracteristica => { %>
                <p> <%= caracteristica %> </p>
            <% }) %>
        <% } else { %>
            <p>Sem informações</p>
        <% } %>
    </div>
    <br>

    <div class="no-break">
        <h3>ESCOLARIDADE</h3>
        <% if (typeof escolaridade === 'string') { %>
            <p> <%= escolaridade %> </p>
        <% } else if (Array.isArray(escolaridade) && escolaridade.length > 0) { %>
            <% escolaridade.forEach(escola => { %>
                <p> <%= escola %> </p>
            <% }) %>
        <% } else { %>
            <p>Sem informações</p>
        <% } %>
    </div>
    <br>

    <div class="no-break">
        <h3>EXPERIÊNCIA PROFISSIONAL</h3>
        <% if (typeof experienciaProfissional === 'string') { %>
            <p> <%= experienciaProfissional %> </p>
        <% } else if (Array.isArray(experienciaProfissional) && experienciaProfissional.length > 0) { %>
            <% experienciaProfissional.forEach(experiencia => { %>
                <p> <%= experiencia %> </p>
            <% }) %>
        <% } else { %>
            <p>Sem informações</p>
        <% } %>
    </div>
    <br>

    <div class="no-break">
        <h3>FORMAÇÃO COMPLEMENTAR</h3>
        <p style="margin-bottom: 5px !important;">Coletivo Online - Preparação para o Mercado de Trabalho - Instituto Coca-Cola Brasil</p>
        <p>Conclusão: <%= dataConclusao %></p>
        <% if (typeof formacaoComplementar === 'string') { %>
            <p> <%= formacaoComplementar %> </p>
        <% } else if (Array.isArray(formacaoComplementar) && formacaoComplementar.length > 0) { %>
            <% formacaoComplementar.forEach(formacao => { %>
                <p> <%= formacao %> </p>
            <% }) %>
        <% } else { %>
            <p>Sem informações</p>
        <% } %>
    </div>
    <br>

    <div class="no-break">
        <h3>TRABALHO VOLUNTÁRIO</h3>
        <% if (typeof trabalhoVoluntario === 'string') { %>
            <p> <%= trabalhoVoluntario %> </p>
        <% } else if (Array.isArray(trabalhoVoluntario) && trabalhoVoluntario.length > 0) { %>
            <% trabalhoVoluntario.forEach(trabalho => { %>
                <p> <%= trabalho %> </p>
            <% }) %>
        <% } else { %>
            <p>Sem informações</p>
        <% } %>
    </div>
    <br>

    <div class="no-break">
        <h3>IDIOMAS</h3>
        <% if (typeof idiomas === 'string') { %>
            <p> <%= idiomas %> </p>
        <% } else if (Array.isArray(idiomas) && idiomas.length > 0) { %>
            <% idiomas.forEach(idioma => { %>
                <p> <%= idioma %> </p>
            <% }) %>
        <% } else { %>
            <p>Sem informações</p>
        <% } %>
    </div>
    <br>
</body>
</html>